doctype html
html
  html(lang='en')
    title Calder Playground

    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic')
    link(rel='stylesheet', href='//cdn.rawgit.com/necolas/normalize.css/master/normalize.css')
    link(rel='stylesheet', href='//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css')
    link(rel='stylesheet', href='styles/main.css')

  body
    .container
      h1 Calder Playground
      hr

      .row
        .column
          h2 Calder Code
          #source
          button#run Run (Ctrl-R)

        .column.fixed
          h2 Compiled WebGL
          div#webgl
          div#toolbar
            button#shuffle Shuffle random seeds
            button#export Export .obj
          div#cost.hidden
            div.row
              label Distance multiplier
              div.group
                input#distance1(type=number)
                input#distance2(type=number)
                input#distance3(type=number)
            div.row
              label Alignment multiplier
              input#alignmentMultiplier(type=number)
            div.row
              label Alignment offset
              input#alignmentOffset(type=number)

      .row
        pre
          code#log

    script#code(type='x-code')!= source
    script(src='js/client.js')
