doctype html
html
  html(lang='en')
    title Calder Playground

    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic')
    link(rel='stylesheet', href='//cdn.rawgit.com/necolas/normalize.css/master/normalize.css')
    link(rel='stylesheet', href='//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css')
    link(rel='stylesheet', href='styles/main.css')

  body
    .container
      h1 Calder Playground
      hr

      .row
        .column
          h2 Calder Code
          #source
          div#toolbar.controls
            button#run Run (Ctrl-R)
            button#export Export .obj
          pre
            code#log

        .column.fixed
          h2 Compiled WebGL
          div#webgl

          div#cost.disabled.controls
            div.input
              label Distance multiplier
              div.group
                input#distance1(type=number, disabled)
                span +
                input#distance2(type=number, disabled)
                span <i>x</i> +
                input#distance3(type=number, disabled)
                span <i>x</i><sup>2</sup>
            div.input
              label Alignment multiplier
              input#alignmentMultiplier(type=number, disabled)
            div.input
              label Alignment offset
              div.group
                div.endpoint
                  div.num
                    span -1
                    span.description (lenient)
                  span &le;
                input#alignmentOffset(type=number, disabled)
                div.endpoint
                  span &le;
                  div.num
                    span 1
                    span.description (strict)

    script#code(type='x-code')!= source
    script(src='js/client.js')
