doctype html
html
  html(lang='en')
    title Calder Playground

    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css')
    link(rel='stylesheet', href='styles/main.css')

  body
    .container
      .menu
        h1 Calder Playground
        select#edit

        button#saveAs Save as
        button#deleteFile Delete

      .row
        .column
          #source
          div#toolbar.controls
            button#run Save and Run (Ctrl-R)
            button#export.button-outline Export .obj
          pre
            code#log

        .column.fixed
          div#webgl

          div#cost.disabled.controls
            div.input
              label Distance multiplier
              div.group
                input#distance1(type=number, disabled)
                span +
                input#distance2(type=number, disabled)
                span <i>x</i> +
                input#distance3(type=number, disabled)
                span <i>x</i><sup>2</sup>
            div.input
              label Alignment multiplier
              input#alignmentMultiplier(type=number, disabled)
            div.input
              label Alignment offset
              div.group
                div.endpoint
                  div.num
                    span -1
                    span.description (lenient)
                  span &le;
                input#alignmentOffset(type=number, disabled)
                div.endpoint
                  span &le;
                  div.num
                    span 1
                    span.description (strict)
            div.input
              button#delete(disabled) Delete this guide

      .row
        .column
          h1 Settings
          hr
          h3 Theme
          fieldset(id="theme")

          h3 Keybindings
          fieldset#editor.column
            .group
              input(type="radio", id="normal", name="editor", value="normal")
              label(for="normal") Normal
            .group
              input(type="radio", id="emacs", name="editor", value="emacs")
              label(for="emacs") Emacs
            .group
              input(type="radio", id="vim", name="editor", value="vim")
              label(for="vim") Vim

          button#saveSettings Save Settings

    script#code(type='x-code')!= source
    script(src='js/client.js')
